.example-spacer {
  flex: 1 1 auto;
}

.container-fluid {
  position: relative;
  height: 2rem;
}

.Icon {
  cursor: pointer;
  color: #1b75bc;
}

.Icon:hover {
  transform: scale(1.20);
  color: #1b75bc;

}
.nombre {
  display: block;
}
.punto {
  display: none;
}

@media(max-width: 991px) {
  .nombreZone {
    display: none;
  }
  .punto {
    display: block;
  }
}